.App {
  text-align: center;
}

.smurf-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  width: 25%;
  border: 1px solid black;
}

.smurf-form form {
  display: flex;
  flex-direction: column;
}

.smurf-form input {
  width: 10rem;
  margin: 1rem 0;
}

.smurf-form button {
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  background: #83a2f8;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}

.smurf-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto 10rem;
  border: 1px solid black;
}

.smurf-card {
  margin: 2rem 2rem;
  width: 15rem;
  border: 1px solid black;
}